html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  background-color: var(--main-bg-color);
  color: #FFFFFF;
  font-family: var(--arvo-regular);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: Arvo;
  src: url(fonts/Arvo/Arvo-Regular.ttf);
}

@font-face {
  font-family: Arvo-bold;
  src: url(fonts/Arvo/Arvo-Bold.ttf);
}

@font-face {
  font-family: Arvo-italic;
  src: url(fonts/Arvo/Arvo-Italic.ttf);
}

@font-face {
  font-family: Arvo-italic-bold;
  src: url(fonts/Arvo/Arvo-BoldItalic.ttf);
}

  
:root {
  --main-bg-color: #0F0F0F;
  --secondary-bg-color: #171919;
  --main-text-color: #676666; 

  --arvo-regular: "Arvo", system-ui;
  --arvo-bold: "Arvo-bold", system-ui;
  --arvo-italic: "Arvo-italic", system-ui;
  --arvo-italic-bold: "Arvo-italic-bold", system-ui;

  --heading-sm: 3.4rem;
  --heading-md: 4em;
  --heading-lg: 5em;
  --heading-2xl: 11.4em;

  --spacing-xs: .25em;
  --spacing-sm: .5em;
  --spacing-md: 1em;
  --spacing-lg: 1.5em;
  --spacing-xl: 2em;
  
}

h1, span {
  font-family: var(--arvo-bold);
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.625em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 1.25em;
  line-height: 1.55;
}

strong {
  color: #FFC300;
}

@media (min-width: 992px) {
p {
  font-size: 1.75em;
}
}

/* #region Keyframe animations */

  @keyframes animateTextShadow {
    0% {
        /* de shadows bewegen allemaal naar boven */
        text-shadow:
        0 6em 0 #FFFFFF,
        0 4.5em 0 #FFFFFF,
        0 3em 0 #FFFFFF,
        0 1.5em 0 #FFFFFF,
        0 0 0 #FFFFFF;
    }
    100% {
        text-shadow:
        0 0 0 #FFFFFF, /* Eindpunt */
        0 -1.5em 0 #FFFFFF,
        0 -3em 0 #FFFFFF,
        0 -4.5em 0 #FFFFFF,
        0 -6em 0 #FFFFFF;
    }
  }
  @keyframes reveal {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: .75;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* #endregion */